button {
  font-family: Noto Sans JP;
  font-style: bold;
  font-weight: 900;
  font-size: 14px;
  /* line-height: 20px; */
  margin-bottom: 50px;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
}

.flex-btn button {
  margin-right: 250px;
}

.hover {
  color: #828282;
}

.btn-full {
  width: 81px;
  height: 36px;
  border: none;
  background: #E0E0E0;
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  color: #3F3F3F;
}

.btn-full:hover, .full-hover{
  background: #AEAEAE;
  color: #3F3F3F;
}

.btn-outline {
  width: 88px;
  height: 36px;
  background: white;
  border-radius: 6px;
  border: 1px solid #3D5AFE;
  color: #3D5AFE;
}

.btn-outline:hover, .out-hover {
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3D5AFE;
  border-radius: 6px;
  color: #3D5AFE; 
}

.btn-text {
  width: 88px;
  height: 36px;
  background: white;
  border: none;
  color: #3D5AFE;
}

.btn-text:hover, .text-hover{
  background: rgba(41, 98, 255, 0.1);
  border-radius: 6px;
}

.btn-disable-shadow {
  width: 81px;
  height: 36px;
  border: none;
  background:#2962FF;
  border-radius: 6px;
  color: #FFFFFF;
}

.btn-disable-shadow:hover, .ds-hover {
  border: none;
  background: #0039CB;
  box-shadow: 0 2px 3px rgba(41, 98, 255, 0.2);
  color: #FFFFFF;
}

.btn-disable {
  width: 88px;
  height: 36px;
  border: none;
  background: #E0E0E0;
  border-radius: 6px;
  color: #9E9E9E;
  cursor: not-allowed;
  /* margin-right: 100px; */
}

.btn-text-2 {
  width: 88px;
  height: 36px;
  background: white;
  border: none;
  color: #9E9E9E;
  cursor: not-allowed;
}

.btn-start-icon {
  width: 105px;
  height: 36px;
  border: none;
  background: #2962FF;
  box-shadow: 0 2px 3px rgba(0, 49, 202, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
  /* margin-right: 100px; */
}

.btn-end-icon {
  width: 105px;
  height: 36px;
  border: none;
  background: #2962FF;
  box-shadow: 0 2px 3px rgba(0, 49, 202, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
}

.btn-sm {
  width: 73px;
  height: 32px;
  border: none;
  background: #2962FF;
  box-shadow: 0 2px 3px rgba(0, 49, 202, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
  /* margin-right: 100px; */
} 

.btn-md {
  width: 81px;
  height: 36px;
  border: none;
  background: #2962FF;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
  /* margin-right: 100px; */
}

.btn-lg {
  width: 93px;
  height: 42px;
  display: flex;
    justify-content: space-around;
    align-items: center;
  border: none;
  background: #2962FF;
  box-shadow: 0 2px 3px rgba(0, 49, 202, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
}

.btn-secondary {
  width: 104px;
  height: 36px;
  color: #FFFFFF;
  border: none;
  background: #455A64;
  box-shadow: 0 2px 3px rgba(69, 90, 100, 0.2);
  border-radius: 6px;
}

.btn-secondary:hover, .sec-hover{
  background: #1C313A;
  box-shadow: 0 2px 3px rgba(69, 90, 100, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
}

.btn-danger{
  width: 81px;
  height: 36px;
  border: none;
  background: #D32F2F;
  box-shadow: 0 2px 3px rgba(211, 47, 47, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
}

.btn-danger:hover, .danger-hover{
  background: #9A0007;
  box-shadow: 0 2px 3px rgba(211, 47, 47, 0.2);
  border-radius: 6px;
  color: #FFFFFF;
}